<div class="panel footer">
<!--     <div class="left">
        <%= image_tag 'transtellar.png' %>
    </div> -->

    <span>
        <strong>Transtellar, Inc. ©</strong>
        <br />
        <strong>Developed by:</strong> Wilson Wang and JC Dy
    </span>
</div>
